<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--<a class="navbar-brand" href="/">EJS is Fun</a>-->
  <a class="navbar-brand" href="/">Home</a>
  <ul class="navbar-nav mr-auto">
  <!--  <li class="nav-item">-->
  <!--    <a class="nav-link" href="/">Home</a>-->
  <!--   </li>-->
    <li class="nav-item">
      <a class="nav-link" href="/customers">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/employees">Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/service_request">Service Request</a>
    </li>
  </ul>
</nav>