<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <p>
            <a href="/add_customers">Add New Customer</a>
        </p> 
         
        <p>
            <a href="/lookup_customers"> Lookup Customer</a>
        </p>  

        <p>
            <a href="/delete_customers">Delete Customer</a>
        </p>  

        <p>
            <a href="/update_customers">Update Customers Customer</a>
        </p>  

        <p>
            <a href="/all_customers">Current Customers List</a>
        </p>  
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
