<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <p>
            <a href="/add_employees">Add New Employee</a>
        </p> 
         
        <p>
            <a href="/lookup_employees"> Lookup Employee</a>
        </p>  

        <p>
            <a href="/delete_employees">Delete Employee</a>
        </p>  

        <p>
            <a href="/update_employees">Update Employees</a>
        </p>  

        <p>
            <a href="/all_employees">Current Employees List</a>
        </p>  
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
