<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <p>
            <a href="/add_service_request">Add New Service Request</a>
        </p> 
         
        <p>
            <a href="/lookup_service_request"> Lookup Service Request</a>
        </p>  

        <p>
            <a href="/delete_service_request">Delete Service Request</a>
        </p>  

        <p>
            <a href="/update_service_request">Update Service Request</a>
        </p>  

        <p>
            <a href="/all_service_request">Current Service Request List</a>
        </p>  
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
